src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
  <apikit:config name="salesforce-system-api-sapi-apikit-config" raml="api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" doc:name="APIKit Router Config" />

  <flow name="salesforce-system-api-sapi-api-main" doc:name="salesforce-system-api-sapi API Main" doc:id="88f43545-24c3-3cd8-ed4c-0a70d5b7c9df">
    <http:listener path="/api/${api.majorVersion}/*" config-ref="HTTP_Listener_config" doc:name="HTTP Listener" doc:id="fc41d236-68e0-ae88-f726-01a9fcb00ff4">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[(vars.outboundHeaders default {}) ++ {'X-Correlation-Id': vars.correlationId default ''}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[(vars.outboundHeaders default {}) ++ {'X-Correlation-Id': vars.correlationId default ''}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="salesforce-system-api-sapi-apikit-config" doc:name="APIKit Router" doc:id="62182529-4fd7-0593-f544-71f7210240b8" />
    <error-handler ref="globalErrorHandler" />
  </flow>

  <flow name="post:\files\upload-batch:salesforce-system-api-sapi-apikit-config" doc:name="post:\files\upload-batch:salesforce-system-api-sapi-apikit-config" doc:id="abbfea5e-04b5-f939-e27b-385156462792">
    <flow-ref doc:name="post-files-upload-batch-flow" doc:id="15675f9e-72dd-6ccf-cd6b-c5a3b0c80e0f" name="post-files-upload-batch-flow" />
  </flow>

  <flow name="get:\health:salesforce-system-api-sapi-apikit-config" doc:name="get:\health:salesforce-system-api-sapi-apikit-config" doc:id="2e95944c-d5e4-3f71-f7fb-d94a162381a7">
    <flow-ref doc:name="get-health-flow" doc:id="b6af8f30-b5b8-b5b6-cb89-b2399d980ce4" name="get-health-flow" />
  </flow>

</mule>