src/main/mule/health.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

  <flow name="get-health-flow" doc:id="doc-dc3ada63">
    <flow-ref name="process-info-logger-sub-flow" doc:name="Call process-info-logger-sub-flow (Logger)" doc:id="doc-qrdm2mw3" />
    <ee:transform doc:name="Init Health Check Variables" doc:id="doc-7f4d86ad">
      <ee:variables doc:id="doc-15a025b3">
        <ee:set-variable variableName="salesforceHealthStatus" doc:id="doc-12e9ec30">
          %dw 2.0
output application/json
---
'DOWN'
        </ee:set-variable>
        <ee:set-variable variableName="awsHealthStatus" doc:id="doc-8c7a5a71">
          %dw 2.0
output application/json
---
'DOWN'
        </ee:set-variable>
      </ee:variables>
    </ee:transform>
    <flow-ref name="get-salesforce-access-token-sub-flow" doc:name="Get Salesforce Token for Health Check" doc:id="doc-f5c69c6e" />
    <try doc:name="Check Salesforce Connectivity" doc:id="doc-9dfbd0dc">
      <http:request method="GET" path="/query?q=SELECT+Id+FROM+Organization+LIMIT+1" config-ref="salesforceApiConfig" doc:name="Salesforce Health Ping" responseTimeout="3000" target="sfHealthResult" doc:id="doc-a7268514">
        <http:headers>#[{'Authorization': 'Bearer ' ++ (vars.salesforceAccessToken default '')}]</http:headers>
      </http:request>
      <ee:transform doc:name="Set Salesforce UP" doc:id="doc-c6a79446">
        <ee:variables doc:id="doc-8e1180ef">
          <ee:set-variable variableName="salesforceHealthStatus" doc:id="doc-9f8366c6">
            %dw 2.0
output application/json
---
'UP'
          </ee:set-variable>
        </ee:variables>
      </ee:transform>
      <error-handler>
        <on-error-propagate type="ANY" doc:name="Try delegates to Global">
          <raise-error type="SAPI:HANDLED" />
        </on-error-propagate>
      </error-handler>
    </try>
    <try doc:name="Check AWS Secrets Manager Connectivity" doc:id="doc-d3c0d98c">
      <http:request method="GET" path="/" config-ref="awsSecretsManagerConfig" doc:name="AWS Secrets Manager Health Ping" responseTimeout="2000" target="awsHealthResult" doc:id="doc-a142e8d2">
        <http:headers>#[{'X-Amz-Target': 'secretsmanager.ListSecrets'}]</http:headers>
      </http:request>
      <ee:transform doc:name="Set AWS UP" doc:id="doc-9d40fce5">
        <ee:variables doc:id="doc-fb411d83">
          <ee:set-variable variableName="awsHealthStatus" doc:id="doc-3fdad231">
            %dw 2.0
output application/json
---
'UP'
          </ee:set-variable>
        </ee:variables>
      </ee:transform>
      <error-handler>
        <on-error-propagate type="ANY" doc:name="Try delegates to Global">
          <raise-error type="SAPI:HANDLED" />
        </on-error-propagate>
      </error-handler>
    </try>
    <ee:transform doc:name="Build Health Response" doc:id="doc-dadc3fee">
      <ee:message doc:id="doc-4018119f">
        <ee:set-payload resource="dw/build-health-response.dwl" />
      </ee:message>
      <ee:variables doc:id="doc-40c35f58">
        <ee:set-variable variableName="httpStatus" doc:id="doc-b0b9bed6">
          %dw 2.0
output application/json
---
if (vars.salesforceHealthStatus == 'UP' and vars.awsHealthStatus == 'UP') 200 else 503
        </ee:set-variable>
      </ee:variables>
    </ee:transform>
    <flow-ref name="process-info-logger-sub-flow" doc:name="Call process-info-logger-sub-flow (Logger)" doc:id="doc-lr6l4a6q" />
    <error-handler ref="globalErrorHandler" />
  </flow>

</mule>