src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

  <flow name="consume-dlq-reprocessing-flow" doc:id="doc-832fcb6a">
    <anypoint-mq:subscriber config-ref="Anypoint_MQ_Config" destination="${dlq.queue.destination}" doc:name="Consume from DLQ for Reprocessing" doc:id="doc-e95de79c" />
    <logger level="INFO" message="#['consume-dlq-reprocessing-flow | START | correlationId=' ++ correlationId]" category="com.mycompany.salesforce-system-api-sapi.consume-dlq-reprocessing-flow" doc:name="Log Flow Start" />
    <flow-ref name="process-info-logger-sub-flow" doc:name="Call process-info-logger-sub-flow (Logger)" doc:id="doc-ssulb5mx" />
    <ee:transform doc:name="Log DLQ Message Details" doc:id="doc-4c9e1556">
      <ee:variables doc:id="doc-1eb44c9c">
        <ee:set-variable variableName="dlqMessage" doc:id="doc-3e34b517">
          %dw 2.0
output application/json
---
payload
        </ee:set-variable>
      </ee:variables>
    </ee:transform>
    <flow-ref name="process-info-logger-sub-flow" doc:name="Call process-info-logger-sub-flow (Logger)" doc:id="doc-gqxqnaf2" />
    <flow-ref name="process-info-logger-sub-flow" doc:name="Call process-info-logger-sub-flow (Logger)" doc:id="doc-4su2m0tx" />
    <logger level="INFO" message="#['consume-dlq-reprocessing-flow | END | correlationId=' ++ correlationId]" category="com.mycompany.salesforce-system-api-sapi.consume-dlq-reprocessing-flow" doc:name="Log Flow End" />
    <error-handler ref="globalErrorHandler" />
  </flow>

  <flow name="daily-token-cache-refresh-flow" doc:id="doc-223f842b">
    <scheduler doc:name="Daily Token Cache Refresh Scheduler" doc:id="doc-0e00f146" />
    <logger level="INFO" message="#['daily-token-cache-refresh-flow | START | correlationId=' ++ correlationId]" category="com.mycompany.salesforce-system-api-sapi.daily-token-cache-refresh-flow" doc:name="Log Flow Start" />
    <flow-ref name="process-info-logger-sub-flow" doc:name="Call process-info-logger-sub-flow (Logger)" doc:id="doc-4gc7a65q" />
    <os:remove key="salesforce_access_token" objectStore="SalesforceOAuthTokenStore" doc:name="Clear Cached Salesforce Token" doc:id="doc-409584c3" />
    <flow-ref name="process-info-logger-sub-flow" doc:name="Call process-info-logger-sub-flow (Logger)" doc:id="doc-ejmsysce" />
    <logger level="INFO" message="#['daily-token-cache-refresh-flow | END | correlationId=' ++ correlationId]" category="com.mycompany.salesforce-system-api-sapi.daily-token-cache-refresh-flow" doc:name="Log Flow End" />
    <error-handler ref="globalErrorHandler" />
  </flow>

</mule>